<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Berechtigungen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Berechtigungen</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>SICHERHEIT</ion-card-title>
      <ion-card-subtitle>Wir brauchen kurz Zugriff</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Standort für Geolocation-Aufgaben und Kamera für QR-Scan. Ohne das kann
      die Schnitzeljagd nicht starten.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-chip class="perms-notice">
      <ion-icon name="radio-button-on" color="warning" />
      <ion-label>Kamera & Standort benötig</ion-label>
    </ion-chip>
    <ion-chip class="perms-notice">
      <ion-icon name="radio-button-on" color="warning" />
      <ion-label>Kamera & Standort benötig</ion-label>
    </ion-chip>
  </ion-card>
</ion-content>
