<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>heroes</ion-title>
    <ion-button id="new-hero">+</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    @for (hero of heroes; track hero.id) {
      <ion-item>
        <app-hero [hero]="hero"></app-hero>
      </ion-item>
    }
</ion-list>
<ion-alert
  trigger="new-hero"
  header="New Hero"
  [inputs]="alertInputs"
  [buttons]="alertButtons"
></ion-alert>

<ion-footer>
  <ion-toolbar>
    <a routerLink="/">Heroes</a>
    <a routerLink="/settings">Settings</a>
  </ion-toolbar>
</ion-footer>
</ion-content>
